/* body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    text-align: center;
}

.quiz-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#question-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#options-list {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    cursor: pointer;
}

#result-container {
    display: none;
    margin-top: 20px;
}

#result-text {
    font-weight: bold;
} */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    text-align: center;
}

.quiz-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#question-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#options-list {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    cursor: pointer;
}

#result-container {
    display: none;
    margin-top: 20px;
}

#result-text {
    font-weight: bold;
}

.question-text {
    color: #333; /* Add this line to change the question text color */
    font-size: 18px;
    font-weight: bold;
}

#timer-container {
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}
